.advantages {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  outline: 2px solid cyan;
}

.advantages__title {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  color: #000000;
  text-transform: uppercase;
}

.advantages__text {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  color: #000000;
  text-transform: uppercase;
}
