.booking {
  background: #ffffff;
  outline: 2px solid gray;
}

.booking__title {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  color: #000000;
  text-transform: uppercase;
}

.booking__text {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  color: #000000;
  text-transform: uppercase;
}

.booking__button {
  padding: 10px 15px;
  text-decoration: none;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
  background: #81b3d2;
  &:hover {
    opacity: 0.7;
    text-decoration: underline;
  }
}
