.copyright__text {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.copyright__link {
  background: url("../img/logo-htmlacademy.svg") no-repeat;
}
