.page-footer {
  background-color: @bg-primary-color;
  outline: 2px solid @outline-main-color;
}

.page-footer__title {
  display: block;
  margin-bottom: 35px;
  padding-top: 35px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: @text-primary-color;
  text-transform: uppercase;
  text-align: center;
}
