.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__link {
  &--twitter {
    background: url("../img/icon-twitter.svg") no-repeat;
  }
  &--facebook {
    background: url("../img/icon-facebook.svg") no-repeat;
  }
  &--youtube {
    background: url("../img/icon-youtube.svg") no-repeat;
  }
}
